*

# General
!LICENSE
!README.md

# Docker
!etc/docker/prod/app/

# Symfony
!app/
app/config/parameters.yml
app/config/config_dev.yml
app/config/config_test.yml
app/config/extras_test.yml
app/config/routing_dev.yml
!bin/
!composer.json
!composer.lock
!src/
!var/SymfonyRequirements.php
!web/app.php
!web/robots.txt

# Frontend
!.babelrc
!bower.json
!etc/gulp/
!gulpfile.babel.js
!npm-shrinkwrap.json
!package.json
