# General
/.vagrant/

# Symfony
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# Capistrano
/.env*
/app/deploy/secret/
/log/

# Node - Bower - Gulp
/bower_components/
/node_modules/
/npm-debug.log
/src/AppBundle/Resources/public/
