# General
.DS_Store
/.env*
/.idea/
/.vagrant/
/build/

# Symfony
/app/config/parameters.yml
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

# Node - Bower - Gulp
/bower_components/
/node_modules/
/npm-debug.log
/src/AppBundle/Resources/public/

# Favicons
/app/Resources/views/favicons.html.twig
/web/android-chrome-*.png
/web/apple-touch-*.png
/web/browserconfig.xml
/web/coast-*.png
/web/favicon.ico
/web/favicon-*.png
/web/firefox_app_*.png
/web/manifest.json
/web/manifest.webapp
/web/mstile-*.png
/web/open-graph.png
/web/twitter.png
/web/yandex-*.png
/web/yandex-browser-manifest.json

# Testing
/behat.yml
/phpspec.yml
