default:
    suites:
        app:
            type: symfony_bundle
            contexts:
                - AppBundle\Features\Context\FeatureContext
                - AppBundle\Features\Context\DatabaseAwareContext
                - Behat\MinkExtension\Context\MinkContext
            bundle: AppBundle
    extensions:
        Behat\Symfony2Extension: ~
        Behat\MinkExtension:
            sessions:
                default:
                    symfony2: ~
