version: '2'

services:
    app:
        logging:
            driver: gelf
            options:
                gelf-address: udp://$LOGSTASH_ADDRESS:12201
                tag: symfony

    web:
        logging:
            driver: gelf
            options:
                gelf-address: udp://$LOGSTASH_ADDRESS:12201
                tag: nginx
